<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag '/assets/favicon.ico' %>
  <title>Sportsello</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>
<%= yield %>

</body>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <%= javascript_include_tag 'application' %>
</html>
